body{
	margin:0px;

}
p{

	color: blue;
}
.header{
	    width: 100%;
    padding: 0;
    z-index: 12;
    margin: 0 auto;
    background: #DFD3D5;
    height: 47px;
    /*position: fixed;*/
    top: 0;
}
.body{
	width: auto;
	height:100vh;
	/*background:#DFD3D5;*/
}
.menu{
	/*background: #6EC3E2;*/
	width: 17%;
	height: 100vh;
	float: left;
	border: 1px solid black;

}
.content{
	/*background: #4EBB76;*/
	width: 82%;
	height: 100vh;
	float: right;
}
.footer{

	font-size: 50px;
	width: auto;
	height: 80px;
}
/*.item {
    float: left;
    padding: 5px;
    margin: 5 3.2% 30px 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    position: relative;
    min-width: 100px;
    height: 200px;
    width: 28%;
}*/
.pagination{
	    clear: both;
    height: 45px;
    margin: 0px 15px;
    text-align: center;
}

}
	.homeproduct {
    clear: both;
    display: block;
    background: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    flex: 1 100%;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    margin-bottom: 15px;
}
ul{
    list-style: none;
}
* {
    margin: 0;
    padding: 0;
}
.item{
	border: 1px;
    float: left;
    position: relative;
    width: 19%;
    overflow: hidden;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.seating{
	/*border: 2px solid black;*/
	width: 100%;
	height: 25px;
}
#item-key{
	display: box;
	padding: 2px;
	border-radius: 5px;
	margin-left:8px;
	background-color: #D7ECF3;
	float: left;
}
#item-value{
	display: box;
	padding: 2px;
	border-radius: 5px;
	margin-left:8px;
	margin-right: 15px;
background: orange linear-gradient(orange,#ff8c00);

	float: left;
}
#choosenumber{
    width: 200px;
    /*border: 2px solid black;*/
}

#footer{
    margin-top: 30px;
    background: #34495E;
}
#footer a{
    color:#FFFFFF;
    text-transform: uppercase;
}
.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.navbar-inverse {border-radius:0 !important;}